:root {
  --border-size: 3px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.maze {
  width: 100vw;
  height: 100vh;
  table-layout: fixed;
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;
  background: radial-gradient(red, orange, yellow, green, blue, indigo, violet)
}

.row {
  display: table-row;
}

.cell {
  border: 0px solid;
  height: 1px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.cell[data-h] {
  background: transparent;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  text-transform: uppercase;
  background: radial-gradient(red, orange, yellow, green, blue, indigo, violet)
}


.hidden {
  display: none;
}

.wall-S {
  border-bottom-width: var(--border-size);
}

.wall-N {
  border-top-width: var(--border-size);
}

.wall-E {
  border-right-width: var(--border-size);
}

.wall-W {
  border-left-width: var(--border-size);
}